<div
  class="flex items-center justify-center p-4 text-sm text-blue-700 bg-blue-50 border border-blue-200 rounded-lg no-drag"
  role="alert"
  data-noattach="true"
  data-position="{{ctx.position}}"
>
  {{ctx.t('Drag and Drop a form component')}}
</div>
