<div class="builder-components drag-container relative flex flex-col gap-4 p-4 border border-gray-200 rounded-lg bg-white shadow-sm formio-builder-{{ctx.type}}" ref="{{ctx.key}}-container">
  {{ctx.html}}
</div>
