{% if (ctx.prefix || ctx.suffix) { %}
<div class="relative flex">
{% } %}
{% if (ctx.prefix) { %}
  <div class="absolute left-0 inset-y-0 flex items-center pl-3" ref="prefix">
    {% if(ctx.prefix instanceof HTMLElement){ %}
      {{ ctx.t(ctx.prefix.outerHTML, { _userInput: true }) }}
    {% } else{ %}
      {{ ctx.t(ctx.prefix, { _userInput: true }) }}
    {% } %}
  </div>
{% } %}
{% if (!ctx.component.editor && !ctx.component.wysiwyg) { %}
  <{{ctx.input.type}}
    ref="{{ctx.input.ref ? ctx.input.ref : 'input'}}"
    {% for (var attr in ctx.input.attr) { %}
      {% if (attr === 'class') { %}
        class="{{ctx.input.attr[attr]}} {{ctx.component.inputClasses}}"
      {% } else { %}
        {{attr}}="{{ctx.input.attr[attr]}}"
      {% } %}
    {% } %}
    {% if (ctx.prefix) { %}pl-10{% } %}
    {% if (ctx.suffix) { %}pr-10{% } %}
    {% if (ctx.component.disabled) { %}bg-gray-50 text-gray-500{% } %}
    {% if (ctx.component.error) { %}border-red-300 focus:border-red-500 focus:ring-red-500{% } %}"
    id="{{ctx.instance.id}}-{{ctx.component.key}}"
    aria-labelledby="l-{{ctx.instance.id}}-{{ctx.component.key}} {% if (ctx.component.description) { %}d-{{ctx.instance.id}}-{{ctx.component.key}}{% } %}"
    aria-required="{{ctx.input.ref === 'input' || !ctx.input.ref ? ctx.component.validate.required :
      ctx.component.fields && ctx.component.fields[ctx.input.ref] && ctx.component.fields[ctx.input.ref].required || false}}"
  >{{ctx.input.content}}</{{ctx.input.type}}>

  {% if (ctx.hasValueMaskInput) { %}
    <input ref="valueMaskInput" class="hidden" />
  {% } %}
{% } %}

{% if (ctx.component.editor || ctx.component.wysiwyg) { %}
  <div ref="input"></div>
{% } %}

{% if (ctx.component.type === 'datetime') { %}
  <span aria-live="assertive" id="{{ctx.instance.id}}-liveRegion" class="sr-only" ref="liveRegion"></span>
{% } %}

{% if (ctx.suffix) { %}
  <div class="absolute right-0 inset-y-0 flex items-center pr-3" ref="suffix">
    {% if(ctx.suffix instanceof HTMLElement){ %}
      {{ ctx.t(ctx.suffix.outerHTML, { _userInput: true }) }}
    {% } else{ %}
      {{ ctx.t(ctx.suffix, { _userInput: true }) }}
    {% } %}
  </div>
{% } %}

{% if (ctx.prefix || ctx.suffix) { %}
  </div>
{% } %}

{% if (ctx.component.showCharCount || ctx.component.showWordCount) { %}
<div class="mt-1 text-sm text-gray-500 {% if (ctx.component.description) { %}float-right{% } else { %}text-right{% } %}">
  {% if (ctx.component.showCharCount) { %}
  <span ref="charcount" aria-live="polite"></span>
  {% } %}
  {% if (ctx.component.showWordCount) { %}
  <span ref="wordcount" aria-live="polite"></span>
  {% } %}
</div>
{% } %}
